<div class="row" ng-controller="calibrateController">
    <div class="text-center">
        <h4>To calibrate, tune the radio to the desired spot on the dial and click the corresponding number button.</h4>
        <div class="btn-group">
            <button ng-repeat="tunePoint in availableTunePoints" ng-click="saveTunePoint(tunePoint)" type="button"
                    class="tune-point-button btn btn-primary">{{tunePoint}}</button>
        </div>
        <div class="well">{{status.message}}</div>
    </div>
</div>