<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head></head>
<!--/*@thymesVar id="availableTunePoints" type=""*/-->

<body>
    <h1>Pi Radio Calibration</h1>
            <div class="btn-group">
                <button th:each="tunePoint : ${availableTunePoints}" th:id="${tunePoint}" th:text="${tunePoint}" type="button"
                        class="tune-point-button btn btn-danger">...</button>
            </div>
            <div id="message" class="well"/>

</body>

<script th:inline="javascript">
    $(function() {
        $(".tune-point-button").click(function() {
            var clickedId = $(this).attr("id");
            jQuery.get("/calibrate/saveTunePoint/" + clickedId, function(data) {
                $("#message").text(data);
            });
        });
    });
</script>



</html>