<div class="text-center" ng-controller="stationConfigurationController">
    <div ng-repeat="station in stations" class="row">
        <form>
            <div class="form-group">
                <div class="col-lg-1">
                    <h4>{{station.dialPosition}}</h4>
                    <input type="hidden" ng-model="station.dialPosition" name="dialPosition"/>
                </div>
                <div class="col-lg-5">
                    <input ng-model="station.name" name="name" type="text" class="form-control" />
                </div>
                <div class="col-lg-5">
                    <input ng-model="station.uri" name="uri" type="text" class="form-control" />
                </div>
                <div class="col-lg-1">
                    <button ng-click="saveStation(station)" type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>